.App {
    
    /*color: white;*/
     /*background-image: linear-gradient(79deg, #1ae308, #99ec73 48%, #efe162);*/
     background-image: url("https://images5.alphacoders.com/133/1338843.png") ;
     background-size: cover;
     background-attachment: fixed;
   
   }